:root {

}

*[draggable="true"] {
  cursor: move;
}

*[draggable="true"]:active{
  cursor: grabbing;
}

.loader {
  --loaderDiameter: 3rem;
  border: calc(var(--loaderDiameter) / 4) solid var(--grey200);
  border-top: calc(var(--loaderDiameter) / 4) solid var(--red400);
  border-radius: 50%;
  width: var(--loaderDiameter);
  height: var(--loaderDiameter);
  animation: spin 2s linear infinite;
}
/* thanks to https://www.w3schools.com/howto/howto_css_loader.asp */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1, h2, h3, h4 {
  font-family: 'Orelega One';
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

body, button {
  font-family: 'Inter';
  color: var(--grey700);
}

button:hover, .clickable:hover {
  cursor: pointer;
}

button:active, input:active {
  opacity: 0.8;
}

.disabled:hover{
  cursor: not-allowed !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.centerCross {
  align-items: center;
}

.centerAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
}

.spacer {
  display: flex;
  flex: 1;
}

#banner {
  width: 100%;
  --headerHeight: 7rem;
  height: var(--headerHeight);
}

#calendarContainer {
  width: var(--headerHeight);
  background-color: var(--red100);
}

#calendarContainer > svg {
  --length: 3.25rem;
  width: var(--length);
  height: var(--length);
  stroke-width: 1.5px;
  stroke: var(--grey700);
}

#titleContainer {
  background-color: var(--red50);
}

#titleContainer > h1 {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  color: var(--grey800);
}

#navButtons {
  padding: 1rem;
}

#navButtons > button {
  width: 12.5rem;
  height: 2.25rem;
  background-color: var(--grey100);
  border: none;
  font-family: 'Orelega One';
  font-size: 1.25rem;
}

#navButtons > button + button {
  margin-left: 1rem;
}

#navButtons > button.selected {
  background-color: var(--red400);
  color: var(--grey50);
}

#htmlUpload.disabled {
  opacity: .5;
}

#navButtons>button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}