@font-face {
  font-family: 'Orelega One';
  src: url('../fonts/OrelegaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}

/*@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}*/