#scheduleCompany, #scheduleAttendee {
    max-height: 90vh;
    overflow-y: scroll;
}

#scheduleAttendee{
    margin-top: 1rem;
}

#schedules {
    margin: 1rem;
    width: 95vw;
}

#schedules table {
    /*width: 4750px;*/
    border-collapse: collapse;
    position: relative;
    white-space: nowrap;
}

#schedules tr {
    height: 3rem;
}

#schedules td:not(:first-child)+td {
    border-left: thin solid var(--grey300);
}

#schedules thead {
    text-align: center;
    font-weight: bold;
}

#schedules th:not(#roomNameCol){
    min-width: 25rem;
    /* must be min-width or wont extend beyond parent container */
}

#schedules th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--grey200);
    padding: 0 1rem;
}

#schedules td:first-child:after {
    content: " ";
    border-right: solid thin var(--grey300);
    right: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}

#schedules td {
    position: relative;
}

#schedules td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: var(--grey50);
    padding: 0 1rem;
}

.app {
    text-align: center;
    border-radius: 0.25rem;
    background-color: var(--emerald400);
    width: 100%;
    height: 2.5rem;
    margin: 0 0.25rem;
    position: relative;
    color: white;
}

.appContainer {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 100%;
}
.notSelected .app {
    background-color: var(--orange400);
}
.appContainer.notSelected {
    position: inherit;
    width: 8rem;
}
.app.empty {
    border: dashed thin var(--grey400);
    background-color: var(--grey200);
    color: var(--grey400);
}

.appLength {
    position: absolute;
    font-size: 0.5rem;
    top: 0.2rem;
    right: 0.2rem;
    top: .15rem;
    right: .15rem;
}

.appAtt {
    font-weight: bold;
    height: 1.25rem;
    text-overflow: ellipsis;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
}

#scheduleAttendee .appAtt {
    font-size: 0.85rem;
}



.app.empty .appTime, .app.empty .appLength {
    color: var(--grey400);
}

.appTime, .appLength, .appPref {
    color: var(--grey100);
    font-size: 0.5rem;
}

.appPref {
    position: absolute;
    right: 0.15rem;
    bottom: 0.15rem;
}

.appTime {
    font-weight: bold;
}

#generateButt {
    padding: 1rem 3rem;
    background-color: var(--grey200);
    border-radius: 0.4rem;
    color: var(--grey800);
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

#generateButt > p {
    margin: 0;
    margin-top: -0.2rem;
}

#generateButt > svg {
    width: 1rem;
    margin-right: .5rem;
    stroke-width: .2rem;
    color: var(--grey600);
}

#schedulePage .loader{
    margin-top: 1rem;
}

#schedulesStats {
    font-family: 'Orelega One';
    color: var(--grey700);
    font-size: 1.25rem;
}

#schedulesStats span {
    font-family: 'Inter';
    color: var(--grey600);
    font-size: 1rem;
}

#schedulesStats p + p {
    margin-left: 2rem;
}